html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.box{
    height: 650px;
    width: 350px;
    border: 2px solid black;
    position: relative;
    background-color: #666666;
     display: flex;
    justify-content: space-evenly; 
    border-radius: 1rem;
}
#red{
    width: 180px;
    height:180px;
    border: 2px solid black;
   
    position: absolute;
    left: 5.5rem; 
    top: 1.2rem;
    border-radius: 50%;
   /* background-color: red; */
    
}
#yellow{

    width: 180px;
    height:180px;
    border: 2px solid black;
    position: absolute;
    left: 5.5rem;
    top: 14.6rem;
    border-radius: 50%;
   
}  
#green{
    width: 180px;
    height:180px;
    border: 2px solid black;
    position: absolute;
    left: 5.5rem;
    top: 28rem;
    border-radius: 50%;
}


